#container {
	width: 970px;
}

#goldcount {
	vertical-align: top;
}

h1 {
	text-align: center
}
.pillage {
	text-align: center;
	width:20%;
	height:20%;
	border:1px solid black;
	display: inline-block;
	margin:1%;
	padding-bottom:15px;
}

#pillageinfo {
	width:90%;
	height:170px;
	border: 1px solid black;
	overflow:scroll;
}

.green {
	color: green;
}

.red {
	color: red;
}
